---
// Código Server Side Only - Momento en contruccion
import Title from "@components/shared/Title.astro";
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type { PokemonListResp } from "../interfaces/pokemon-list";

import MainLayout from "../layouts/MainLayout.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");

const data = (await resp.json()) as PokemonListResp;
const title = "Pokemon | Home";
---

<MainLayout title={title}>
  <Title>Listado de Pokemons</Title>
  <section
    aria-label="Listado de Pokemons"
    class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-2"
  >
    {
      data.results.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>
</MainLayout>
